@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');

.footer-bar {
    font-family: 'Playfair Display SC', serif;
    background-color: rgb(217, 237, 248);
    box-shadow: 4px 0 4px 4px rgb(34, 62, 100, .2);
    padding: 12px 64px;
}

.footer-text {
    font-size: 0.9em;
    color: rgb(32,60,114);
}

@media only screen and (max-width: 620px) {

    .footer-bar {
        font-family: 'Playfair Display SC', serif;
        background-color: rgb(217, 237, 248);
        /*background-color: rgb(170,211,234);*/
        box-shadow: 4px 0 4px 4px rgb(34, 62, 100, .2);
        padding: 8px 8px;
    }

}
